.header {
display: flex;
justify-content: space-between;
align-items: center;
height: 80px;
color: white;
background-color:#4B565E;
padding: 0 240px;
}
.header-left {
   display: flex;
   align-items: center;
}

.header-logo {
   margin-right: 20px;
}

.header-nav {
   display: flex;
}

.header-nav-item {
   margin-right: 20px;
}
.cart {
   border-color: #F0BA4E;
   border-style: solid;
   border-width: 1px;
   display: flex;
   border-radius: 50px;
   background-color: #4B565E;
   align-items: center;
   width: 106px;
   height: 48px;
}
.emprty {
   color:  #F9FAFB;
   width: 480px;
   height: 19px;
   font-size:20px;
}



.header-right {
   display: flex;
   align-items: center;
}
.header-nav {
   display: flex;
}
.header-photo {
   margin-right: 5px;
}
.header-nav-item {
   margin-right: 40px;
}
.header-photography {
   margin-right: 40px;
}
.header2 {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 80px;
   color: black;
   background-color: #F0BA4E;
   padding: 0 240px;
}
.header2-left {
   display: flex;
   align-items: center;
}
.header2-nav {
   display: flex;
}
.header2-nav-photo {
   display: flex;
   align-items: center;
}
.header2-nav-item  {
   height: 17px;
   font-family: Inter;
   font-size: 14px;
   font-weight: 600;
   line-height: 16.94px;
   text-align: left;
   text-underline-position: from-font;
   text-decoration-skip-ink: none;
   color: #3C3C3B;
   margin-left: 10px;
}
.header2-right {
   display: flex;
   align-items: center;
}
.input_header {
   margin-right: 20px;
   width: 292px;
   color: #4b565e99;
   background: transparent;
   border: none;
   font-size: 16px;
}
.input {
   margin-right: 20px;
   border-bottom: 1px solid #3C3C3B;
   font-family: Inter;  
}