<h1>CREATE TODO FORM</h1>

<div class="container-2">
   <form class="create-2" [formGroup]="form" (ngSubmit)="submitForm()">
      <p>Текст задачи</p>
      <input type="text" class="form-input-2" formControlName="userId">
      <p>Автор задачи</p>
      <input type="text" class="form-input-2" formControlName="title">
      <p>Задача решена</p>
      <input type="text" class="form-input-2" formControlName="completed">
      <button class="todos-2" [disabled]="!form.valid">CREATE TODOS</button>
   </form>
</div>