<h1>CREATE TODO FORM</h1>

<div class="container-2">
   <form class="create-2" [formGroup]="form" (ngSubmit)="submitForm()">
   <mat-form-field>
      <mat-label>Название задачи</mat-label>
      <input matInput type="text" class="form-input-2" formControlName="userId">
      </mat-form-field>
      <mat-form-field>
      <mat-label>Автор задачи</mat-label>
      <input matInput type="text" class="form-input-2" formControlName="title">
      </mat-form-field>
      <mat-form-field>
      <mat-label>Задача завершен?</mat-label>
      <input matInput type="text" class="form-input-2" formControlName="completed">
      </mat-form-field>
      <button mat-raised-button class="todos-2" [disabled]="!form.valid">+ Add Todo</button>
   </form>
</div>