.container{
margin: 30px 30px 30px 30px;
}

.create{
   display: flex;
   flex-direction: column;
   width: 200px;
   }

   .user{
   width: 200px;
   margin-top: 20px;
   }

   .form-input{
   width: 150px;
   }