<h1>CREATE USER FORM</h1>
<div class="container" >
   <form class="create" [formGroup]="form" (ngSubmit)="submitForm()">
      <p>NAME:</p>
      <input type="text" class="form-input" formControlName="name">
      <p>USERNAME:</p>
      <input type="text" class="form-input" formControlName="username">
      <p>EMAIL:</p>
      <input type="text" class="form-input" formControlName="email">
      <p>WEBSITE:</p>
      <input type="text" class="form-input" formControlName="website">
      <p>COMPANY.NAME:</p>
      <input type="text" class="form-input" formControlName="companyName">
      <button class="user" [disabled]="!form.valid">
      CREATE USER</button>
   </form>
</div>