
<div class="header">
    <div class="header-left">
        <div class="header-logo">
            <img src="/assets/Frame.svg" alt="логотип сайта">
        </div>
        <nav class="header-nav">
            <div class="header-nav-item" routerLink="users">{{headerItem1}}</div>
            <div class="header-nav-item" routerLink="header">{{aboutCompany}}</div>
            <div class="header-nav-item" *ngIf="isShowCatalog">{{headerItem3}}</div>
        </nav>
        <button (click)="isShowCatalog = !isShowCatalog">Скрыть/Показать</button>
        <button (click)="changeMenuText()">Изменить текст</button>
        <button routerLink="users">Пользователи</button>
        <button routerLink="todos">TODOS</button>
    </div>
    <div class="header-right">
        <div class="header-photo">
            <img src="/assets/Phone.svg" alt="телефон">
        </div>
        <nav class="header-nav">
        <nav class="header-nav-item">+7 (965) 084-29-29</nav>
        </nav>
        <div class="header-photography">
            <img src="/assets/heart 1.svg" alt="картинка">
        </div>
        <button class="cart">
            <img src="/assets/Mask_group.svg" alt="корзина">
            <span class="emprty">Пусто</span>
        </button>
    </div>
</div>

<div class="header2">
    <div class="header2-left">
        <div class="header2-nav-photo">
            <img src="/assets/img.svg" alt="Каталог">
        </div>
        <div class="header2-nav">
        <nav class="header2-nav-item" *ngFor="let item of menuItems">{{item}}</nav>
        
        </div>
    </div>
    <div class="header2-right">
        <div class="input">
            <input class="input_header" type="search-2" placeholder="Поиск, например Круг зачистной">
            <img src="/assets/gip.svg" alt="лого лупа">
        </div>
        <div style="display: flex;">
            <img 
            style="margin-right: 5px;"
            src="/assets/ege.svg" alt="лого Москва">
        </div>
    </div>
</div>
<router-outlet></router-outlet>

<!-- <button (click)="isShowImg = !isShowImg">Скрыть/Показать</button> 
<div *ngIf="isShowImg">
    <img src="/assets/men.png" alt="background-large" style="width: 100%;">
</div> 

<div class="content-container">
    <div class="skill">
    <div class="skill__cards">
        <img src="/assets/Mask-2.svg"alt="">
        <div class="skill__cards-text">Большой ассортимент
            <span style="color: #A1A0A0;" > строительных материалов всегда в наличии</span>
        </div>
    </div>
    <div class="skill__cards">
        <img src="/assets/Mask_group_3.svg"alt="">
            <div class="skill__cards-text-2">Доставка стройматериалов
                <span style="color: #A1A0A0;">в течении четырех часов или в любое другое время</span>
            </div>
    </div>
    <div  class="skill__cards">
        <img src="/assets/Mask_group_4.svg"alt="">
        <div class="skill__cards-text-3" style="color: #A1A0A0;">Многоуровневая
            <span style="color:black;">система управления качеством</span>
            <span style="color: #A1A0A0;"> по стандарту ISO 9001 </span>
        </div>
    </div> 
    </div> 
    <div class="item-cards">
        <div class="item-cards__pagination">
            <button class="item-cards__pagination-button active-button" *ngFor="let item of newPages">{{item}}</button>
        </div>
            <div class="item-cards__grid">
                <div class="item-cards__grid-left">
                <div class="item-cards__grid-left-text">
                    Строительный отделочный инструмент
                </div>
                    <div class="item-cards__grid-left-action">
                    <span style="margin-right: 10px;"> Перейти в каталог</span>
                    <a class="item-cards__grid-left-action-link">
                        <img src="/assets/Frame_20.svg" alt="">
                    </a> 
                    </div>
                </div>
                <div class="item-cards__grid-right">
                    <div class="item-cards__grid-right-block-1">
                        <div class="item-cards__grid-right-block-text">Эмали</div>
                        <div class="item-cards__grid-right-block-action">
                            <span style="margin-right: 10px;"> Перейти в каталог</span>
                            <a class="item-cards__grid-right-block-action-link">
                                <img src="/assets/Frame_20.svg" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="item-cards__grid-right-block-2">
                        <div class="item-cards__grid-right-block-text-2">Лакокрасочные материалы</div>
                        <div class="item-cards__grid-right-block-action-2">
                            <span style="margin-right: 10px;"> Перейти в каталог</span>
                            <a class="item-cards__grid-right-block-action-link-2">
                                <img src="/assets/Frame_20.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="item-cards__grid-right-block-3">
                        <div class="item-cards__grid-right-block-text-3">Пены, клеи и герметики</div>
                        <div class="item-cards__grid-right-block-action-3">
                            <span style="margin-right: 10px;"> Перейти в каталог</span>
                            <a class="item-cards__grid-right-block-action-link-3">
                                <img src="/assets/Frame_20.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="item-cards__grid-right-block-4">
                        <div class="item-cards__grid-right-block-text-4">Розетки и выключатели</div>
                        <div class="item-cards__grid-right-block-action-4">
                            <span style="margin-right: 10px;"> Перейти в каталог</span>
                            <a class="item-cards__grid-right-block-action-link-4">
                                <img src="/assets/Frame_20.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="item-cards-top">
        <div class="item-text-2">
            <span style="font-size: 28px;font-weight: 500;">Популярные товары</span>
            <a href="URL" class="button-99">Посмотреть все товары</a>
        </div>
        <div class="item-cards-top-2">
            <div class="item-cards-top-block">
                <div class="item-cards-top-block-1">
                    <img src="/assets/Frame_40.svg" alt="">
                </div>
                <div class="text" style="margin-left: 24px;">Круг зачистной 125х6х22
                    <span style="font-size: 16px;font-weight: 500;">Актикуль 00004</span>
                </div>
                <div class="text_2">
                    <span style="color: #A1A0A0;">Цена за штуку</span>
                    <div class="text_22">
                        <s style="font-size: 16px;font-weight: 500;">52 руб.</s>
                        <span style="font-size: 20px;font-weight: 600;">48 руб.</span>
                    </div>
                </div>
                <div class="text_3">
                    <div class="text_33">
                        <span>Количество</span>
                        <span>- 1 + </span>
                    </div>
                    <button class="button-1">
                        <span style="font-size: 16px;font-weight: 500;">В корзину</span>
                    </button>
                </div>
            </div>
            <div class="item-cards-top-block">
                <div class="item-cards-top-block-1">
                    <img src="/assets/Frame_40.svg" alt="">
                </div>
                <div class="text" style="margin-left: 24px;">Круг зачистной 125х6х22
                    <span style="font-size: 16px;font-weight: 500;">Актикуль 00004</span>
                </div>
                <div class="text_2">
                    <span style="color: #A1A0A0;">Цена за штуку</span>
                    <div class="text_22">
                        <s style="font-size: 16px;font-weight: 500;">52 руб.</s>
                        <span style="font-size: 20px;font-weight: 600;">48 руб.</span>
                    </div>
                </div>
                <div class="text_3">
                    <div class="text_33">
                        <span>Количество</span>
                        <span>- 1 + </span>
                    </div>
                    <button class="button-1">
                        <span style="font-size: 16px;font-weight: 500;">В корзину</span>
                    </button>
                </div>
            </div>
            <div class="item-cards-top-block">
                <div class="item-cards-top-block-1">
                    <img src="/assets/Frame_41.png" alt="">
                </div>
                <div class="text" style="font-size: 20px;font-weight: 600;">Круг зачистной 125х6х22
                    <span style="font-size: 16px;font-weight: 500;">Актикуль 00004</span>
                </div>
                <div class="text_2">
                    <span style="color: #A1A0A0;">Цена за штуку</span>
                    <div class="text_22">
                        <s style="font-size: 16px;font-weight: 500;">52 руб.</s>
                        <span style="font-size: 20px;font-weight: 600;">48 руб.</span>
                    </div>
                </div>
                <div class="text_3">
                    <div class="text_33">
                        <span>Количество</span>
                        <span>- 1 + </span>
                    </div>
                    <button class="button-1">
                        <span style="font-size: 16px;font-weight: 500;">В корзину</span>
                    </button>
                </div>
            </div>
            <div class="item-cards-top-block">
                <div class="item-cards-top-block-1">
                    <img src="/assets/Frame_42.png" alt="">
                </div>
                <div class="text" style="margin-left: 24px;">Круг зачистной 125х6х22
                    <span style="font-size: 16px;font-weight: 500;">Актикуль 00004</span>
                </div>
                <div class="text_2">
                    <span style="color: #A1A0A0;">Цена за штуку</span>
                    <div class="text_22">
                        <span style="font-size: 20px;font-weight: 600;">52 руб.</span>
                    </div>
                </div>
                <div class="text_3">
                    <div class="text_33">
                        <span>Количество</span>
                        <span>- 1 + </span>
                    </div>
                    <button class="button-1">
                        <span style="font-size: 16px;font-weight: 500;">В корзину</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="photo_center">
        <img src="/assets/Frame_50.png" alt="">
    </div>
    <div class="item-cards-bottom">
        <div class="item-text-2">
            <span style="font-size: 28px;font-weight: 500;">Новинки</span>
            <a href="URL" class="button-88">Посмотреть все товары</a>
        </div>
        <div class="item-cards-bottom-2">
            <div class="item-cards-bottom-block">
                <div class="item-cards-top-block-1">
                    <img src="/assets/Frame_42.png" alt="">
                </div>
                <div class="text" style="margin-left: 24px;">Круг зачистной 125х6х22
                    <div class="art">Актикуль 00004</div>
                </div>
                <div class="text_2">
                    <span style="color: #A1A0A0;">Цена за штуку</span>
                    <div class="text_22">
                        <span style="font-size: 20px;font-weight: 600;">52 руб.</span>
                    </div>
                </div>
                <div class="text_3">
                    <div class="text_33">
                        <span>Количество</span>
                        <span>- 1 + </span>
                    </div>
                    <button class="button-1">
                        <div class="art-2">В корзину</div>
                    </button>
                </div>
            </div>
            <div class="item-cards-bottom-block">
                <div class="item-cards-top-block-1">
                    <img src="/assets/Frame_42.png" alt="">
                </div>
                <div class="text" style="margin-left: 24px;">Круг зачистной 125х6х22
                    <div class="art">Актикуль 00004</div>
                </div>
                <div class="text_2">
                    <span style="color: #A1A0A0;">Цена за штуку</span>
                    <div class="text_22">
                        <span style="font-size: 20px;font-weight: 600;">52 руб.</span>
                    </div>
                </div>
                <div class="text_3">
                    <div class="text_33">
                        <span>Количество</span>
                        <span>- 1 + </span>
                    </div>
                    <button class="button-1">
                        <div class="art-2">В корзину</div>
                    </button>
                </div>
            </div>
            <div class="item-cards-bottom-block">
                <div class="item-cards-top-block-1">
                    <img src="/assets/Frame_42.png" alt="">
                </div>
                <div class="text" style="margin-left: 24px;">Круг зачистной 125х6х22
                    <div class="art">Актикуль 00004</div>
                </div>
                <div class="text_2">
                    <span style="color: #A1A0A0;">Цена за штуку</span>
                    <div class="text_22">
                        <span style="font-size: 20px;font-weight: 600;">52 руб.</span>
                    </div>
                </div>
                <div class="text_3">
                    <div class="text_33">
                        <span>Количество</span>
                        <span>- 1 + </span>
                    </div>
                    <button class="button-1">
                        <div class="art-2">В корзину</div>
                    </button>
                </div>
            </div>
            <div class="item-cards-bottom-block">
                <div class="item-cards-top-block-1">
                    <img src="/assets/Frame_42.png" alt="">
                </div>
                <div class="text" style="margin-left: 24px;">Круг зачистной 125х6х22
                    <div class="art">Актикуль 00004</div>
                </div>
                <div class="text_2">
                    <span style="color: #A1A0A0;">Цена за штуку</span>
                    <div class="text_22">
                        <span style="font-size: 20px;font-weight: 600;">52 руб.</span>
                    </div>
                </div>
                <div class="text_3">
                    <div class="text_33">
                        <span>Количество</span>
                        <span>- 1 + </span>
                    </div>
                    <button class="button-1">
                        <div class="art-2">В корзину</div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> 
<div class="item-bottom">
    <div class="bottom-0"> 
        <div class="bottom-1">
            <div class="bottom-logo"><img src="/assets/Frame.svg" alt=""></div>
            <div class="bottom-logo-2">
                <div class="logo-phone"><img src="/assets/mmm.svg" alt=""></div>
                <div class="number">
                    <div class="number-text">Контактный номер</div>
                <div>+ 7 (812) 309-09-34</div>
                <div>+ 7 (965) 084-29-09</div>
                </div>
                <div class="number-2">
                    <div class="number-text-2">Электронная почта</div> 
                    <a href="mailto:tustin78@mail.ru">tustin78&#64;mail.ru</a>
                    <a href="mailto:info@tustin.ru">info&#64;tustin.ru</a>
                </div>
                <div class="logo-mail"><img src="/assets/ppp.svg" alt=""></div>
            </div>
        </div>
        <div class="bottom-2">
            <div class="text_55">Остались вопросы?</div>
            <div>Узнавайте первыми о скидках, предложениях и событиях еженедельно в своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.</div>
            <button class="cart-2">
                <img style="width: 16px;height: 16px;" src="/assets/ppp.svg" alt="">
                <div class="text_5">Введите свою почту</div>
                <div class="bottom-3">
                    <button class="cart-3">
                        <span style="color: #FFFFFF;">Отправить</span>
                    </button>
                </div>
            </button>
        </div>
    </div>
    <div class="futer">
        <div class="futer-1">
            <div>Главная</div>
            <div>О компании</div>
            <div>Каталог</div>
        </div>
        <div class="futer-2">
            <img style="width: 24px;height: 24px;" src="/assets/fff.svg" alt="">
            <img style="width: 24px;height: 24px;" src="/assets/uuu.svg" alt="">
            <img style="width: 24px;height: 24px;" src="/assets/www.svg" alt="">
            <div class="text_4">
                <span>© 2021-2022, EDE</span>
            </div>
        </div>
    </div>
</div> -->